/* Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Thunder";
  src: url(./fonts/Thunder-MediumLC.ttf);
}

/* Base Style */
body {
  background-color: black;
  color: #ffffff;
  font-family: "Thunder";
}

.container {
  display: flex;
  align-items: center;
  padding: 2rem;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
  min-height: 100vh;
}

.container > * {
  width: 100%;
}

.container__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__description p {
  font-family: "Thunder";
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.special {
  color: black;
  background-color: #d4fdca;
  padding: 2rem 3rem 0;
  border-radius: 152px;
}

.container__canvas {
  width: 100%;
  height: 700px;

  background-color: #252525;
  border-radius: 3rem;
  overflow: hidden;
}

/* Mobile Styles */
.container {
  flex-direction: column;
}

.container__description {
  gap: 1rem;
}

.container__description p {
  font-size: 5.5rem;
  line-height: 5.625rem;
}

/* Tablet Styles */
@media screen and (min-width: 790px) {
  .container {
    flex-direction: row;
  }
}

/* Laptop and Large Desktop Styles */
@media screen and (min-width: 1100px) {
  .container__description p {
    font-size: 9.5rem;
    line-height: 6.625rem;
  }
  .container__description {
    gap: 2rem;
  }
}
